* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root {

--strong-cyan: hsl(171, 66%, 44%);
--light-blue: hsl(233, 100%, 69%);
--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);
--white: hsl(0, 0%, 100%);
    
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    width: 100%;
    height: 100vh;
    font-size: 1.8rem;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header{
    min-width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__image-logo{
    min-width: 12.5rem;
    margin-top: 12.3rem;
    margin-bottom: 6.4rem;
}

.hero__title{

    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -0.521739px;
    margin: 0 3.2rem 1.6rem 3.2rem;
    color: var(--dark-grayish-blue);
}

.hero__description{
    max-width: 60rem;
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    margin: 0 3.2rem 4.8rem 3.2rem;
}

.link-ios{
    min-width: 31.1rem;
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    border-radius: 2.8rem;
    padding: 1.3rem 4.9rem 1.3rem 5rem;
    margin: 0 3.2rem 2.4rem 3.2rem;
}

.link-mac{
    min-width: 31.1rem;
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    border-radius: 2.8rem;
    padding: 1.3rem 4.9rem 1.3rem 5rem;
    margin: 0 3.2rem 16rem 3.2rem;
}

.hero__links a,
.clipmacios__links a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--white);
}

main{
    min-width: 37.5rem;
}

.track,
.workflow,
.workflow__wrapper-images,
.workflow__images,
.logos,
.hero__links,
.clipmacios,
.footer__links-wrapper,
.footer__links
{
    display: flex;
    flex-direction: column;
}

.track{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track__title{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -0.456522px;
    margin: 0 6.7rem 1.6rem 6.7rem;
}

.track__description{
    max-width: 60rem;
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    margin: 0 3.2rem 6.5rem 3.2rem;
}

.track__computer-image{
    width: 31.2rem;
    margin: 0 3.2rem 5.6rem 3.2rem;
}

.track__text h3{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: -0.391304px;
    margin: 0 3.2rem 1rem 3.2rem;
}

.track__text p{
    color: var(--grayish-blue);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    margin: 0 3.2rem 4.8rem 3.2rem;
}

.clipboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clipboard__title{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -0.456522px;
    margin: 0 3.2rem 1.6rem 3.2rem;
}

.clipboard__description{
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    margin: 0 3.2rem 6.4rem 3.2rem;
}

.clipboard__image-device{
    width: 100%;
    max-width: 81.2rem;
    margin: 0 3.2rem 13rem 3.2rem;
}

.workflow__title{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -0.456522px;
    margin: 0 3.2rem 1.1rem 3.2rem;
}

.workflow__description{
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    margin: 0 3.2rem 9rem 3.2rem;
}

.workflow__images-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workflow__images{
    width: 4.4rem;
}

.icon-blacklist {
    margin: 0 16.5rem 4rem 16.5rem;
}
.icon-text{
    margin: 0 16.2rem 4.4rem 17.7rem;

}
.icon-preview{
    margin: 0 16.239rem 4.414rem 16.3rem;
}

.workflow__blacklists{
    margin: 0 3.2rem 1.8rem 3.2rem;
}

.workflow__snippets{
    margin: 0 2.5rem 1.8rem 3.9rem;

}

.workflow__preview{
    margin: 0 3.2rem 1.8rem 3.2rem;
}

.workflow__blacklists-description{
    margin: 0 3.2rem 6.7rem 3.2rem;
}

.workflow__snippets-description{
    margin: 0 2.5rem 4.5rem 3.9rem;
}

.workflow__preview-description{
    margin: 0 3.2rem;
}

.workflow__images-block h3{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3rem;    
    text-align: center;
    letter-spacing: -0.391304px;
}

.workflow__images-block p{
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos__image-google{
    width: 13.9rem;
    margin: 13.196rem 11.8rem 5.7rem 11.8rem;
}

.logos__image-ibm{
    width: 12.1rem;
    margin: 0 11.8rem 5.6rem 12.2rem;
}

.logos__image-microsoft{
    width: 13.5rem;
    margin: 0 11.8rem 5.7rem 12.2rem;
}

.logos__image-hp{
    width: 11.3rem;
    margin: 0 13.1rem 5.6rem 13.1rem;
}

.logos__image-vectorg{
    width: 10.5rem;
    margin: 0 13.5rem 17rem 13.5rem;
}

.clipmacios__title{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -0.456522px;
    margin: 0 3.2rem 1.6rem 3.2rem;
}

.clipmacios__description{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.12px;
    color: var(--grayish-blue);
    margin: 0 3.2rem 4.6rem 3.2rem;
}

.clipmacios__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100%;
    background-color: #F5F7F7;
}

.footer__logo-small{
    width: 5.5rem;
    margin: 5.2rem 16rem 4rem 16rem;
}

.footer__links-wrapper a{
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.135px;
}

.footer__links a{
    margin-bottom: 2rem;
}

.footer__social-media{
    padding-bottom: 5.325rem;
    margin-top: 4.8rem;
    fill: var(--dark-grayish-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__social-media-twitter{
    margin: 0 4rem;
}

@media (min-width: 1025px){
    body{
        background-image: url(../images/bg-header-desktop.png);
        background-size: contain;
    }

    header{
        width: 100%;
    }

    .hero__image-logo{
        margin-top: 12.8rem;
        margin-bottom: 5.6rem;
    }

    .hero__title{
        font-size: 4.6rem;
        line-height: 5.8rem;
        text-align: center;
        letter-spacing: -0.75px;
        margin: 0 0 1.6rem 0;
    }

    .hero__description{
        margin: 0 35.5rem 4.8rem 35.5rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;     
        text-align: center;
        letter-spacing: 0.15px;
    }

    .hero__links{
        display: flex;
        flex-direction: row;
    }

    .link-ios{
        min-width: 22.7rem;
        padding: 1.3rem 3.6rem 1.3rem 3.6rem;
        margin: 0 1.6rem 15rem 0;
    }
    
    .link-mac{
        min-width: 22.7rem;
        padding: 1.3rem 3.5rem 1.3rem 3.2rem;
        margin: 0 0 15rem 0;
    }

    .track__title{
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: -0.586957px;
        margin: 0 35.5rem 1.9rem 35.5rem;
    }
    
    .track__description{
        color: var(--grayish-blue);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
        letter-spacing: 0.135px;
        margin: 0 35.5rem 8rem 35.5rem;
    }

    .track__image{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .track__computer-image{
        width: 75.2rem;
        margin-left: -3.2rem;
        margin-bottom: 0;
    }
    
    .track__features{
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6rem 0 0 11rem;
    }

    .track__text h3{
        text-align: left;
        margin: 0 0 .8rem 0;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3rem;
        letter-spacing: -0.391304px;
    }

    .track__text p{
        text-align: left;
        margin: 0 0 5.6rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3rem;
        letter-spacing: 0.12px;
    }

    .clipboard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clipboard__title{
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: -0.586957px;
        margin-top: 15rem;
    }

    .clipboard__description{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
        letter-spacing: 0.135px;
        margin: 0 35.5rem 11rem 35.5rem;
    }

    .clipboard__image-device{
        width: 100%;
        max-width: 81.2rem;
        margin: 0 3.2rem 13rem 3.2rem;
    }   


    .workflow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workflow__title{
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: -0.586957px;
    }

    .workflow__description{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
        letter-spacing: 0.135px;
    }

    .workflow__wrapper-images{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    .workflow__images-block{
        width: 100%;
        max-width: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 15rem;
        margin-top: 15rem;
    }

    .logos__image-google{
        max-width: 16.5rem;
        margin: 0;
    }
    .logos__image-ibm{
        max-width: 14.4rem;
        margin: 0;
    }
    .logos__image-microsoft{
        max-width: 16rem;
        margin: 0;
    }
    .logos__image-hp{
        max-width: 13.413rem;
        margin: 0;
    }
    .logos__image-vectorg{
        max-width: 12.5rem;
        margin: 0;
    }


    .clipmacios__title{
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: -0.586957px;
    }

    .clipmacios__description{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
        letter-spacing: 0.135px;
        margin: 0 35.5rem 4.8rem 35.5rem;
    }

    .clipmacios__links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__links-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 3.9rem 0 3.9rem 0;
    }

    .footer__logo-small{
        width: 5.5rem;
        margin: 0 13.5rem 0 16.5rem;
    }

    .footer__links{
        display: flex;
        flex-direction: column;
        margin: 0 3rem 0 0;
    }

    .footer__links a{
       text-align: left;
       font-weight: 400;
       font-size: 1.8rem;
       line-height: 3rem;
       letter-spacing: 0.135px;
       margin-bottom: 0;
    }

    .footer__social-media-facebook{
        margin-left: 16.2rem;
    }

   
}
